
*{
    margin:0;
    padding: 0;
}

/* --  HTML Styles -- */
html {
    background-color: white !important; /*changing background color of html doc*/
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Bottom part of screen info */
/* Styling for footer information */
 #footer_info{
    position: relative;
    bottom: 60vh;
    left: 600px;
    color: white;
    font-size: 27px;
    font-weight: bold;
} 

.logo{
    font-size: 60px;

    font-weight: bold;

    /* Positionng of brand/ icon */
    position: relative;
    left: 3%;
    bottom:0px;
}
#brand_name{
    color: orange;
    text-shadow: 1px 2px 10px grey ;
}

#section_nav{
    height:20vh;
}

/* grid card styling */
.card {
    padding: 2rem;
    border: 1px solid rgb(75, 82, 92);
    border-radius: 10px;
    background-color: black;
    text-align: center;
}

/* card content styling */
.card-content {
    padding: 0rem;
    font-size: 1.2rem; /* Adjust the font size */
    color: white; /* Ensure text is visible on black background */
}

/* grid container styling */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    gap: 105px;
    justify-content: center;
}
    
/* Styling for services button */
#services_btn{
    position: relative;
    top:20px;   
}

/* -- NAVBAR ITEMS -- */
.navbar-start{
    position: relative;
    left:200px;

    /* Size of font for navitems */
    font-size: 30px;
    bottom:110px;
}

.navbar-item{
    background-color: #FFF9ED;
}

