/* --  HTML Styles -- */
html {
    background-color: white !important; /*changing background color of html doc*/
    overflow-x: hidden;
}

/* Body tag styles */
.navbar{
    background-color: white; 
}

.navbar-item, #cat_dropdown{
    color:#676767;
}


.navbar-start{
    position: relative;
    left:200px;

    /* Size of font for navitems */
    font-size: 27px;
    bottom:34px;
}

.navbar-end{
    position: relative;
    right:50px;

    /* Size of font for navitems */
    font-size: 18px;
    bottom:30px;
}

#nav_Section{
    max-height:100%;
    height:120px;
    background-color: white;
}

/* Removing the dropdown color and setting to orange */
.navbar-dropdown, .dropdown-items {
    background-color: #676767 !important;
    color:white;
}

.navbar-dropdown{
    font-size: 20px;
}

.signup-btn{
    background-color:orange; 
    color:white;

    border-color: #676767;
}

/* Logo Styling */
.navbar-brand{
    font-size: 30px;

    font-weight: bold;

    /* Positionng of brand/ icon */
    position: relative;
    left: 3%;
    bottom:40px;
    
}

#navbar_logo{
    color:orange;
    text-shadow: 1px 2px 10px grey ;
    font-size: 60px;
    font-weight: bold;
}

.navbar-link, a.navbar-item {
    background-color: white;
}

/* -- Corousel Styling -- */
.container {
    padding: 0rem;
}

.slider-wrapper {
    overflow: hidden;
    height: 800px;
    width: 90vw;
    margin-left: 6px;
    margin-top: 20px;
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    aspect-ratio: 16 / 9;

    justify-content: center;

    position: relative;
    right: 190px;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

.img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container.active {
    opacity: 1;
}

/* Keyframes for fade animation */
@keyframes fade {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}


/* --- Effects --- */
.navbar-start a.navbar-item:hover, #cat_dropdown:hover{
    color:orange;
}

/* Styling for Signup and signin forms */
.signup-form-container, .signin-form-container{
    display: grid;  
    gap: 105px;
    justify-content: end;

    /* positioning the form */
    position: fixed;
    bottom: 30%;
    right: 0; /* Add this line to position the form on the right */

    z-index: 1;

    display: none;

    /* Add transition for smooth effect */
}

.signin-form-container{
    position: fixed;
    bottom: 46.7%;
}

#sign_up_form_card{
    width: 30vw;
    background-color: orange !important;
}

#sign_in_form_card{
    width: 30vw;
    background-color: #656565 !important;
}
.signup-form > input, .signin-form > input{
    background-color: white;
    color: black;
}

form > input::placeholder {
    color:#656565 !important;
}
#Signup_header_text, #Signin_header_text{
    font-weight: bold;
    font-size: 30px;
}

#reset_btn{
    background-color: snow;
}

#reset_btn:hover{
    background-color: #dcdcdc;
}

#submit_btn{
    background-color: #656565;
    color:white;
}

#submit_btn:hover{
    background-color: lightgray ;
    color:black;
}

.buttons{
    display: flex;
    justify-content:center;

}

#signinBtn_section > #submit_btn{
    background-color: orange;
}

#signinBtn_section > #submit_btn:hover{
    background-color: #ffae42;
    height: 6vh;
}

/* --- Search bar section --- */
#provinces_input{
    width:25vw;
    margin-left: 60px;
    background-color: white;
    color:#656565;
}

#search_icon{
    font-size: 20px;
    position: relative;
    top: 9px;
}

#services_input{
    width:25vw;
    margin-left: 20px;  
    background-color: white;
    color:#656565;
}

#loaction_icon{
    font-size: 20px;
    position: relative;
    top: 9px;
    left: 28px;

    box-shadow: 0px 1px 0px 0px white;
}

#searchbar-container{
    position: relative;
    bottom: 400px;
    background-color: white;
}

.vl {
    border-left: 2px solid grey;
    height: 60px;
    margin-left: 20px;

    position: absolute;
    left: 540px;
    bottom:16px;
}

#searchBtn{
    margin-left: 20px;
    width: 180px;
}

.card-content > input::placeholder{
    color:#656565;
}

/* featured services cards */

.card-list {
    display: flex;
    flex-direction: grid;
    align-items: center; 
    gap: 20px;
    width: 100%; 
}

.card-list .card-item {
    background-color: white;
    background: orange(230, 162, 37);
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-item:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Enhanced shadow */
    transform: translateY(-10px); /* Added transform for hover effect */
}


#mechanic_icon{
    font-size: 40px;
}
#tutor_icon{
    font-size:40px
}
#gardner_icon{
    font-size:35px
}
#computer_icon{
    font-size: 40px;
}
#plumber_icon{
    font-size: 40px;
}

.icon-container{
    background-color:white;
    border-radius: 100px;
    height:13vh;
    width:8vw;
    align-items: center;
    display: flex;
    justify-content: center;
}


.card-list .card-item .user-icon{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding:4px;

    
}
.container-wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 30vh;

    position: relative;
    bottom: 300px;
}


.card-list .card-item .btn{
    font-size: 1.25 rem;
    padding:10px 35px;
    color:lightgrey;
    border-radius: 6px;
    font-weight: 150;
    cursor: pointer;
    background:gray;
    border: 1px solid transparent;
    transition: 0.2s ease;

}
.card-list .card-item .btn:hover{
    background:rgb(206, 103, 13);
    border: 1px solid white;
    color:#fff;
}

.card-item:hover{
   cursor: pointer;
}

.slider-wrapper{
    box-shadow: none;
}

.card-shadow{
    box-shadow: 0 1rem 1rem -0.75rem hsla(0, 0%, 0%, 0.25);
}


/* -- Carousel Styling -- */
.container-wrapper {
    width: 200vw;
  }
  
  .slider-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-list {
    display: flex;
    transition: transform 1s ease-in-out;
  }
  
  