/*  -----                                  [ HTML STYLING ]                                ------ */
html {
    background-color: white !important; /*changing background color of html doc*/
    overflow-x: hidden;
}

/*  -----                                  [End of html styling ]                            ---- */


/*  ----                                   [NAV BAR STYLING ]                                 ---- */
#navbar_logo{
    color:orange;
    text-shadow: 1px 2px 10px grey ;
    font-size: 40px;
    font-weight: bold;
}

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding:12px 20px;
    background-color: white;
    box-shadow: 0 0rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    position: fixed;
    z-index: 10;
}

/* background color & text color - Sign Up button */
.menu-buttons #signupBtn, #manageBtn{
  background-color:orange; 
  color:white;

  border-color: #676767;
}

#manageBtn{
  display: none;
}

/* background color & text color - Sign Up button */
.menu-buttons #loginBtn{
  color:white;

  border-color: #676767;
}

.menu{
    display: flex;
    position: fixed;
    right: 40%;
}

.menu li{
    padding-left: 30px;
}

.menu li a{
    display: inline-block;
    text-decoration: none;
    color:#656565;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    font-size: 20px;
}

.menu li a::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transition: 0.15s ease-in-out;
}

.menu li a:hover{
  color: orange;
}

.open-menu, .close-menu{
    position: relative;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu{
    top: 50%;
    right: 20px;
    transform: translateX(-50%);
}
.close-menu{
    top: 20px;
    right: 20px;
}

#check{
    display: none;
}

.menu-buttons{
    display: flex;
    position: fixed;
    right: 4%;
    top:28px;
}


@media(max-width:610px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #656565;
        transition: all 0.2s ease-in-out;
    }

    .menu li{
        margin-top: 40px;
    }
    .menu li a {
        padding: 10px;
    }

    .open-menu, .close-menu{
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }

    .menu-buttons{
        display: none;
    }
}

/*  ----                                   [End of Nav bar styling ]                                 ---- */

 /*  ----                                   [Categories Section]                                        ---- */
  /* Styling Grid */
  .header_info{
    display:grid;
    justify-content: center;
    margin-top: 100px;
  }

  .title{
    font-size: 60px;
    font-weight: bold;
    color: #656565;
  }

  .subtitle{
    text-align: center;
    font-size: 25px;
    margin-top: auto;
  }

  
h1{
    margin:30px 0;
}

.grid-card h2{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

.grid-card i{
    font-size: 45px;
    font-weight: bold;
}


.grid-card{
    padding:2em;
    border:1px solid rgb(75,82,92);
    border-radius:10px;
    background-color: #656565;
    text-align: center;

}
.grid-container {
     display: grid; 
     grid-template-columns: 
     repeat(auto-fit, minmax(300px, 1fr));
     gap:15px; 
     justify-content: center;
     padding: 50px;
     color:white;

     font-family: 'NewTitle-Variable', Avenir Next Condensed, Arial Narrow, Impact, sans-serif; 
} 

img {
    padding: 3px; 
    border-radius: 5px;
}

.grid-card:hover {
    border: 1px solid gray;
    box-sizing: border-box;
  
    transform: scale(0.9);
  
    cursor: pointer;
}

.close{
    text-align: center;
    font-size: 29px;
    cursor: pointer;
}

.close:hover{
    text-decoration: underline;
}

#categories_section{
    display: none;
}

  /*  ----                                   [End of Categories Section]                               ---- */

/*  ----                                   [Sevices information Section]                               ---- */
/* Positioning of the service section */
#Services_info_section{
    position: relative;
    top: 50px;

    /* Setting the alignment of the container */
    text-align: center;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

/* background color of container */
#services_info_card_content{
    background-color: white !important;
}

/* font size of the title */
.title{
    font-size: 90px;
}

.subtitle{
    margin-top: 40px;
    color: #656565;
}

/*  ----                                   [End of Sevices information Section]                               ---- */

/*  ----                                   [Start of Services card Section]                               ---- */
#services_grid_container{
    display: grid;
    grid-template-columns:repeat(3, auto) ;
    gap: 20px;
    justify-content: center;
    text-align: center;

}

#services_grid_container .columns{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    border-radius:20px 20px 20px 20px;
}

#services_grid_container .columns:hover{
    transform: scale(1.1);
}

#services_grid_container .card{
    background-color: white;
}

.column-vertical-mode{
    display: grid;
    flex-direction: column;
   
}


/* Styling of image */
.column > img{
    border-radius:20px 20px 0px 0px;
}

#services_grid_container > .grid-card{
    width: 500px;
}

#services_grid_container{
    gap: 10px;
    justify-content: center;
}


.text-title{
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;

    font-size: 30px;
}

.text-subtitle{
    color: #656565;
    margin-bottom: 30px;
    font-size: 25px;
}

.view-btn{
    color:#656565;
    text-decoration: underline;
    font-size: 25px;
}

.view-btn:hover{
    color:orange;
}
#services_categories_cards i {
    font-size: 30px;
}

.icon{
    color:#656565;
    background-color: white;
    border-radius: 75px;
    width: 90px;
    height: 90px;

    position: relative;
    left: 8%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    z-index: 1;
   
    
    border-radius: 50%;
}

.icon-column{
    position: relative;
}

.text-column{
    position: relative;
    bottom: 70px;
}

/*  ----                                   [End of Services card Section]                               ---- */

 /*  ----                                   [Featured Services Courosel]                                        ---- */


  /* Setting font styling  */
  #featured_services_card_header{
    font-size: 45px;
    font-weight: bold;
    position: relative;
    bottom: 100px;
}
  .services-card-list .services-card-item .services-card-link{
    user-select: none;
    display: block;
    background: white;
    padding: 18px;
    
    text-decoration: none;

    border: 2px solid transparent;
    transition: 0.2s ease;

    height: 2px;
  }

  .services-card-link{
    display: none;
  }


  .services-card-wrapper{
    max-width: 100%;
    height: 60vh;
    border-radius: 12px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
  }


  .services-card-item{
    box-shadow: 0 10px 10px  rgba(0, 0, 0, 0.5) ;
    width:30%;
    
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card-title{
    margin-bottom: 90%;
  }

  .services-card-list .services-card-link .services-card-image{
    width: 10%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    
  }

  .services-card-link img{
    border-radius: 10px;
  }

  .badge{
    color:white;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: rgb(241, 179, 64);
    width: fit-content;
    border-radius: 50px;
 
  }

  .badge , .card-title, .card-button{
    margin-left: 20px;
  }

  .services-card-list, .services-card-link, .card-title{
    font-size: 1.19rem;
    color: #656565;
    font-weight: 600;
  }

  .services-card-link{
    display: none;
  }

  .swiper{
    z-index: 0;
  }

  

  .services-card-item:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Enhanced shadow */
    transform: translateY(10px); /* Added transform for hover effect */
    }

/*  ----                                   [End of Featured Services Courosel]                                   ---- */


/*  ----                                   [Start of fixit inquiry section]                               ---- */
#fixit_inquiry_section{
    background-color: orange;

    display: flex;
    justify-content: center;
}

#list_items{
    text-align: left;
    list-style: none;

    font-size: 30px;
}

#text_column_header{
    font-size: 40px;
    text-align: center;
}

#img_column > .card, #text_column > .card{
    background-color:black;
}

#btn_list_item{
    text-align: center;
}

#btn_list_item a{
    background-color: #656565;
    width: 290px;

    position: relative;
    right: 5%;
    font-size: 20px;
}



#img_column img{
    height: 104%;
}

#img_column .card{
    height: 101%;
}

/*  ----                                   [End of fixit inquiry section]                               ---- */

/*  ----                                   [Start of Join us section]                                        ---- */
#join_us_section{
    text-align: center;
}

#join_us_section .subtitle{
    font-size: 30px;
}

#joinus_btn{
    font-size: 27px;
}

/*  ----                                   [End of Join us section]                                        ---- */



/*  ----                                   [Start of footer section]                                        ---- */

#footer_section{
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Postion - column 1 */
#column_1{
    position: relative;
    right:50%;
    bottom: 10%;
    text-align: left;
}

/* Styling for fotter logo */
#footer_logo{
    color:white;
    text-shadow: 1px 2px 10px grey ;
    font-size: 40px;
    font-weight: bold;

    width: 390px;
}

#footer_logo:hover{
    color: orange;
}

#footer_section > .columns{
    position: relative;
    bottom: 80px;
    left:11%;
}

#footer_logo_subtext{
    margin-left: 12px;
    color: white;
}

.contact_logo{
    font-size: 20px;
    margin-left: 12px;
    margin-top: 20px;
}

.contact_logo > a:link{
    color: white;
}

.contact_logo > a:hover{
    color: orange;
}

.column2_header, .column3_header , .column4_header{
    font-size: 23px;
    color: #fff;
    font-weight: bold;
}

#column2_list{
    text-align: left;
    margin-left: 39px;
}

#column3_list{
    text-align: left;
    margin-left: 19px;
}

#column4_list{
    text-align: left;
    margin-left: 33px;
}



.list-item{
    color: white;
}

.list-item:hover{
    color: orange;
}

hr{
    background-color: white;
    position: absolute;
    right:1%;
    top:250px;

    width: 150%;
}

.copyright-info{
    position: absolute;
    top: 300px;
    right: 1110px;
    color: #fff;
    width: 40%;
}

/*                                           End of footer section                                   */

/* Setting font styling  */
#featured_services_card_header{
    font-size: 45px;
    font-weight: bold;
    position: relative;

    display:flex;
    justify-content: start;

    position: relative;
    left: 80px;

    color: #656565;
}

/*                                           Media Querie                                            */
@media(max-width: 1500px) {
    .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: #656565;
      transition: all 0.2s ease-in-out;
    }

    #cat_dropdown {
      color: white;
    }

    .menu-buttons {
      display: none;
    }

    #categories_section {
      display: none;
    }

    .open-menu, .close-menu {
      display: block;
    }

    #check:checked ~ .menu {
      right: 0;
    }

    .menu li {
      margin-top: 40px;
    }

    .menu li a {
      padding: 10px;
      color: white;
    }

    #services_grid_container{
        display: grid;
        grid-template-columns:repeat(2, auto) ;
        gap: 20px;
        justify-content: center;
        text-align: center;
    
    }
    #img_column img{
        height: 100%;
    }

    #img_column .card{
        height: 35.7%;
    }

    #footer_section .columns{
        margin-top:90px;
    }

    #column_1{
        right: 50px;
    }

    #column_2{
        position: relative;
        right: 100px;
        bottom: 10px;
    }

    #column2_list{
        margin-right: 50px;
    }

    #column_3{
        position: relative;
        right: 100px;
        bottom: 10px;
    }

    #column3_list{
        margin-right: 20px;
    }

    #column_4{
        position: relative;
        right: 100px;
        bottom: 10px;
    }

    #column4_list{
        margin-right: 80px;
    }

    .copyright-info{
        right: 350px;
    }

    

  }

  @media(max-width: 1030px) {
    .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: #656565;
      transition: all 0.2s ease-in-out;
    }

    #cat_dropdown {
      color: white;
    }

    .menu-buttons {
      display: none;
    }

    #categories_section {
      display: none;
    }

    .open-menu, .close-menu {
      display: block;
    }

    #check:checked ~ .menu {
      right: 0;
    }

    .menu li {
      margin-top: 40px;
    }

    .menu li a {
      padding: 10px;
      color: white;
    }

    #services_grid_container{
        display: grid;
        grid-template-columns:repeat(1, auto) ;
        gap: 20px;
        justify-content: center;
        text-align: center;
    
    }

    #featured_services_card_header{
        margin-top: 200px;
    }

    #img_column img{
        height: 100%;
    }

    #footer_section .columns{
        margin-top:90px;
    }

    #column_1{
        top: 2px;
        right: 50px;
    }

    #column_2{
        position: relative;
        right: 100px;
        bottom: 10px;
    }

    #column2_list{
        margin-right: 50px;
    }

    #column_3{
        position: relative;
        right: 100px;
        bottom: 10px;
    }

    #column3_list{
        margin-right: 20px;
    }

    #column_4{
        position: relative;
        right: 100px;
        bottom: 10px;
    }

    #column4_list{
        margin-right: 80px;
    }
    
    hr{
        display: none;
    }

    .copyright-info{
        right: 350px;
    }

  }

  @media(max-width: 800px) {
    .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: #656565;
      transition: all 0.2s ease-in-out;
    }

    #cat_dropdown {
      color: white;
    }

    html {
      overflow-y: scroll;
    }

    .menu-buttons {
      display: none;
    }

    #categories_section {
      display: none;
    }

    .open-menu, .close-menu {
      display: block;
    }

    #check:checked ~ .menu {
      right: 0;
    }

    .menu li {
      margin-top: 40px;
    }

    .menu li a {
      padding: 10px;
      color: white;
    }

    #services_grid_container{
        display: grid;
        grid-template-columns:repeat(1, auto) ;
        gap: 20px;
        justify-content: center;
        text-align: center;
    }  

    #img_column img{
        height: 100%;
    }

    #featured_services_card_header{
        margin-top: 200px;
    }

    #img_column img{
        height: 100%;
    }

    #footer_section .columns{
        margin-top:90px;
    }

    #column_1{
        top: 2px;
        right: 50px;
    }

    #column_2{
        position: relative;
        right: 100px;
        bottom: 10px;
    }

    #column2_list{
        margin-right: 50px;
        text-align: center;
    }

    #column_3{
        position: relative;
        right: 100px;
        bottom: 10px;
    }

    #column3_list{
        margin-right: 20px;
        text-align: center;
    }

    #column_4{
        position: relative;
        right: 100px;
        bottom: 10px;
    }

    #column4_list{
        margin-right: 30px;
        text-align: center;
    }
    
    hr{
        display: none;
    }

    .copyright-info{
        right: 250px;
        top: 750px;
    }

  }

  @media screen and (max-width: 690px) {
    .menu {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 100;
      background-color: #656565;
      transition: all 0.2s ease-in-out;
    }

    .menu li {
      margin-top: 40px;
    }

    .menu li a {
      padding: 10px;
      color: white;
    }

    .open-menu, .close-menu {
      display: block;
    }

    #check:checked ~ .menu {
      right: 0;
    }

    .menu-buttons {
      display: none;
    }

    #categories_section {
      display: none;
    }

    #content-header {
      font-size: 20px;
      position: relative;
      right: 190px;
      top: 40px;
    }

    #cat_dropdown {
      color: white;
    }

    html {
      overflow-y: scroll;
    }

    #services_grid_container{
        display: grid;
        grid-template-columns:repeat(1, auto) ;
        gap: 20px;
        justify-content: center;
        text-align: center;
    }

    #featured_services_card_header{
        margin-top: 200px;
        margin-right: 60px;
    }

    #img_column img{
        height: 100%;
    }

    #column_1{
        top: 2px;
        right: 50px;
    }

    #column_2{
        position: relative;
        right: 50px;
        bottom: 10px;
    }

    #column2_list{
        margin-right: 50px;
        text-align: center;
    }

    #column_3{
        position: relative;
        right: 50px;
        bottom: 10px;
    }

    #column3_list{
        margin-right: 20px;
        text-align: center;
    }

    #column_4{
        position: relative;
        right: 50px;
        bottom: 10px;
    }

    #column4_list{
        margin-right: 30px;
        text-align: center;
    }
    
    hr{
        display: none;
    }

    .copyright-info{
        right: 200px;
        top: 750px;
    }
    
  }


  /* Unsupported devices */
  @media screen and (max-width: 400px) {
    .nav-bar{
      display: none;
    }

    #content-header{
         display: none;
        }

    #landingPage_section .columns{
        display: none;
    }

    html {
    
      background-image: url('/src/img/DEVICE-NOT-SUPPORTED.png');
      background-repeat: no-repeat;
      object-fit: cover;
      background-position: center;
    }

    #Services_info_section{
        display: none;
    }

    #services_categories_cards{
        display: none;
    }

    #featured_services_section{
        display: none;
    }

    #fixit_inquiry_section{
        display: none;
    }

    #join_us_section{
        display: none;
    }

    #footer_section{
        display: none;
    }


  }