/*  -----                                  [ HTML STYLING ]                                ------ */
html {
    background-color: white !important; /*changing background color of html doc*/
    overflow-x: hidden;
}

/*  -----                                  [End of html styling ]                            ---- */


/*  ----                                   [NAV BAR STYLING ]                                 ---- */
/* Changing background color of navbar */
.navbar{
    background-color: white;
    box-shadow: 0 0rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);  
    width: 100vw;
    height: 27vh;

    position: relative;
    right: 50px;
    bottom: 220px;
}

/* changing text color - Navbar items and dropdown text */
.navbar-item, #cat_dropdown{
    color:#676767;
}

/* Positioning & styling - NavBar items */
.navbar-start{
    position: relative;
    left:200px;

    /* Size of font for navitems */
    font-size: 27px;
    top:180px;
    height: 10vh;
}

/* Positioning & styling - NavBar buttons  */
.navbar-end{
    position: relative;
    right:50px;

    /* Size of font for navitems */
    font-size: 18px;
    top:80px;
}

/* Sizing and color - Entire nav section  */
#nav_Section{
    position: fixed;
    z-index: 10;
    max-height:100%;
    height:120px;
    background-color: white;
}

/* Removing the dropdown color and setting to orange */
.navbar-dropdown, .dropdown-items {
    background-color: #676767 !important;
    color:white;
}

/* Font size - navbar dropdown element */
.navbar-dropdown{
    font-size: 20px;
}

/* background color & text color - Sign Up button */
.signup-btn{
    background-color:orange; 
    color:white;

    border-color: #676767;
}

/* Positioning & styling - NavBar brand(logo section)  */
.navbar-brand{
    font-size: 30px;

    font-weight: bold;

    /* Positionng of brand/ icon */
    position: relative;
    left: 3%;

    height: 10vh;
    top:180px;
    
}

/* styling - logo */
#navbar_logo{
    color:orange;
    text-shadow: 1px 2px 10px grey ;
    font-size: 60px;
    font-weight: bold;
}

/* Background color - every navbar link and item */
.navbar-link, a.navbar-item {
    background-color: white;
}

/* hover effect to change color of navitems and dropdown options */
.navbar-start a.navbar-item:hover, #cat_dropdown:hover{
    color:orange;
}


/*  ----                                   [End of Nav bar styling ]                                 ---- */

 /*  ----                                   [Categories Section]                                        ---- */
  /* Styling Grid */
  .header_info{
    display:grid;
    justify-content: center;
    margin-top: 100px;
  }

  .title{
    font-size: 60px;
    font-weight: bold;
    color: #656565;
  }

  .subtitle{
    text-align: center;
    font-size: 25px;
    margin-top: auto;
  }

  
h1{
    margin:30px 0;
}

.grid-card h2{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

.grid-card i{
    font-size: 45px;
    font-weight: bold;
}


.grid-card{
    padding:2em;
    border:1px solid rgb(75,82,92);
    border-radius:10px;
    background-color: #656565;
    text-align: center;

}
.grid-container {
     display: grid; 
     grid-template-columns: 
     repeat(auto-fit, minmax(300px, 1fr));
     gap:15px; 
     justify-content: center;
     padding: 50px;
     color:white;

     font-family: 'NewTitle-Variable', Avenir Next Condensed, Arial Narrow, Impact, sans-serif; 
} 

img {
    padding: 3px; 
    border-radius: 5px;
}

.grid-card:hover {
    border: 1px solid gray;
    box-sizing: border-box;
  
    transform: scale(0.9);
  
    cursor: pointer;
}

.close{
    text-align: center;
    font-size: 29px;
    cursor: pointer;
}

.close:hover{
    text-decoration: underline;
}

#categories_section{
    display: none;
}

  /*  ----                                   [End of Categories Section]                               ---- */

/*  ----                                   [Sevices information Section]                               ---- */
/* Positioning of the service section */
#Services_info_section{
    position: relative;
    top: 50px;

    /* Setting the alignment of the container */
    text-align: center;

    display: flex;
    justify-content: center;
    
}

/* background color of container */
#services_info_card_content{
    background-color: white !important;
}

/* font size of the title */
.title{
    font-size: 90px;
}

.subtitle{
    margin-top: 40px;
    color: #656565;
}

/*  ----                                   [End of Sevices information Section]                               ---- */

/*  ----                                   [Start of Services card Section]                               ---- */
#services_grid_container{
    display: grid;
    grid-template-columns:repeat(3, auto) ;
    gap: 20px;
    justify-content: center;
    text-align: center;

}

#services_grid_container .columns{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
    border-radius:20px 20px 20px 20px;
}

#services_grid_container .columns:hover{
    transform: scale(1.1);
}

#services_grid_container .card{
    background-color: white;
}

.column-vertical-mode{
    display: grid;
    flex-direction: column;
   
}


/* Styling of image */
.column > img{
    border-radius:20px 20px 0px 0px;
}

#services_grid_container > .grid-card{
    width: 500px;
}

#services_grid_container{
    gap: 10px;
    justify-content: center;
}


.text-title{
    color: black;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;

    font-size: 30px;
}

.text-subtitle{
    color: #656565;
    margin-bottom: 30px;
    font-size: 25px;
}

.view-btn{
    color:#656565;
    text-decoration: underline;
    font-size: 25px;
}

.view-btn:hover{
    color:orange;
}
#services_categories_cards i {
    font-size: 30px;
}

.icon{
    color:#656565;
    background-color: white;
    border-radius: 75px;
    width: 90px;
    height: 90px;

    position: relative;
    left: 8%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    z-index: 1;
   
    
    border-radius: 50%;
}

.icon-column{
    position: relative;
}

.text-column{
    position: relative;
    bottom: 70px;
}

/*  ----                                   [End of Services card Section]                               ---- */


/*  ----                                   [Start of fixit inquiry section]                               ---- */
#fixit_inquiry_section{
    background-color: orange;

    display: flex;
    justify-content: center;
}

#list_items{
    text-align: left;
    list-style: none;

    font-size: 30px;
}

#text_column_header{
    font-size: 40px;
    text-align: center;
}

#img_column > .card, #text_column > .card{
    background-color:black;
}

#btn_list_item{
    text-align: center;
}

#btn_list_item a{
    background-color: #656565;
    width: 290px;

    position: relative;
    right: 5%;
    font-size: 20px;
}



#img_column img{
    height: 104%;
}

#img_column .card{
    height: 101%;
}

/*  ----                                   [End of fixit inquiry section]                               ---- */

/*  ----                                   [Start of Join us section]                                        ---- */
#join_us_section{
    text-align: center;
}

#join_us_section .subtitle{
    font-size: 30px;
}

#joinus_btn{
    font-size: 27px;
}

/*  ----                                   [End of Join us section]                                        ---- */



/*  ----                                   [Start of footer section]                                        ---- */

#footer_section{
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Postion - column 1 */
#column_1{
    position: relative;
    right:50%;
    bottom: 10%;
    text-align: left;
}

/* Styling for fotter logo */
#footer_logo{
    color:white;
    text-shadow: 1px 2px 10px grey ;
    font-size: 40px;
    font-weight: bold;

    width: 390px;
}

#footer_logo:hover{
    color: orange;
}

#footer_section > .columns{
    position: relative;
    bottom: 80px;
    left:11%;
}

#footer_logo_subtext{
    margin-left: 12px;
    color: white;
}

.contact_logo{
    font-size: 20px;
    margin-left: 12px;
    margin-top: 20px;
}

.contact_logo > a:link{
    color: white;
}

.contact_logo > a:hover{
    color: orange;
}

.column2_header, .column3_header , .column4_header{
    font-size: 23px;
    color: #fff;
    font-weight: bold;
}

#column2_list{
    text-align: left;
    margin-left: 39px;
}

#column3_list{
    text-align: left;
    margin-left: 19px;
}

#column4_list{
    text-align: left;
    margin-left: 33px;
}



.list-item{
    color: white;
}

.list-item:hover{
    color: orange;
}

hr{
    background-color: white;
    position: absolute;
    right:1%;
    top:250px;

    width: 150%;
}

.copyright-info{
    position: absolute;
    top: 300px;
    right: 1110px;
    color: #fff;
    width: 40%;
}

/*                                           End of footer section                                   */

/* Setting font styling  */
#featured_services_card_header{
    font-size: 45px;
    font-weight: bold;
    position: relative;

    display:flex;
    justify-content: start;

    position: relative;
    left: 80px;

    color: #656565;
}