/*  -----                                  [ HTML STYLING ]                                ------ */
html {
  background-color: white !important; /*changing background color of html doc*/
  overflow-x: hidden;
}

/*  -----                                  [End of html styling ]                            ---- */


/*  ----                                   [NAV BAR STYLING ]                                 ---- */
#navbar_logo {
  color: orange;
  text-shadow: 1px 2px 10px grey;
  font-size: 40px;
  font-weight: bold;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 12px 20px;
  background-color: white;
  box-shadow: 0 0rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  position: fixed;
  z-index: 10;
}

/* background color & text color - Sign Up button */
.menu-buttons #signupBtn, #manageBtn {
  background-color: orange; 
  color: white;
  border-color: #676767;
}

#manageBtn {
  display: none;
}

/* background color & text color - Sign Up button */
.menu-buttons #loginBtn {
  color: white;
  border-color: #676767;
}

.menu {
  display: flex;
  position: fixed;
  right: 40%;
}

.menu li {
  padding-left: 30px;
}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: #656565;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  font-size: 20px;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transition: 0.15s ease-in-out;
}

.menu li a:hover {
  color: orange;
}

.open-menu, .close-menu {
  position: relative;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateX(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

.menu-buttons {
  display: flex;
  position: fixed;
  right: 4%;
  top: 28px;
}


@media(max-width: 610px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #656565;
    transition: all 0.2s ease-in-out;
  }

  .menu li {
    margin-top: 40px;
  }

  .menu li a {
    padding: 10px;
  }

  .open-menu, .close-menu {
    display: block;
  }

  #check:checked ~ .menu {
    right: 0;
  }

  .menu-buttons {
    display: none;
  }
}

/*  ----                                   [End of Nav bar styling ]                                 ---- */

/*  ----                                   [Categories Section]                                        ---- */
.header_info {
  display: grid;
  justify-content: center;
  margin-top: 100px;
}

.title {
  font-size: 60px;
  font-weight: bold;
  color: #656565;
}

.subtitle {
  text-align: center;
  font-size: 25px;
  margin-top: auto;
}

h1 {
  margin: 30px 0;
}

.grid-card h2 {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}

.grid-card i {
  font-size: 45px;
  font-weight: bold;
}

.grid-card {
  padding: 2em;
  border: 1px solid rgb(75, 82, 92);
  border-radius: 10px;
  background-color: #656565;
  text-align: center;
}

.grid-container {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px; 
  justify-content: center;
  padding: 50px;
  color: white;
  font-family: 'NewTitle-Variable', Avenir Next Condensed, Arial Narrow, Impact, sans-serif; 
} 

img {
  padding: 3px; 
  border-radius: 5px;
  max-width: 100%; /* Ensure images are responsive */
  height: auto; /* Maintain aspect ratio */
}

.grid-card:hover {
  border: 1px solid gray;
  box-sizing: border-box;
  transform: scale(0.9);
  cursor: pointer;
}

.close {
  text-align: center;
  font-size: 29px;
  cursor: pointer;
}

.close:hover {
  text-decoration: underline;
}

#categories_section {
  display: none;
}

/*  ----                                   [End of Categories Section]                               ---- */
#about-info {
  text-align: center;
}

#about-info .subtitle {
  text-align: center;
  font-weight: 500;
  text-align: left;
}

#about-image {
  padding: 16px;
  justify-content: center;
  display: flex;
}

#about-image img { 
  width: 100%; /* Make image responsive */
  height: auto; /* Maintain aspect ratio */
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

#about-info .card-content {
  color: #656565;
}

#Team {
  text-align: center;
  font-weight: bolder;
}

#about-info p {
  font-weight: bolder;
  font-size: 50px;
  text-align: left;
}

.columns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.columns .card {
  box-shadow: none;
}

#team_images img {
  border-radius: 25px;
  max-width: 100%; /* Ensure images are responsive */
  height: auto; /* Maintain aspect ratio */
}

#temb {
  height: auto; /* Allow height to adjust */
  width: 100%; /* Make width responsive */
  object-fit: cover;
}

#team-intro {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  box-shadow: none;
}

#team-intro .card-content { 
  box-shadow: none;
}

#card-info .card-info {
  font-size: 1px;
}

#card .team-info {
  box-shadow: none;
}

.team-info {
  box-shadow: none;
}

#about-info .title {
  font-size: 100px;
}

/* carousel section */
.carousel-item img {
  width: 30%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%;
  margin-top: 5px;
  object-fit: cover;
}

.name {
  margin-bottom: 2px;
  color: #8c52ff;
  font-size: 50px;
}

.occupation {
  font-style: bold;
  margin-top: 5px;
  font-size: 30px;
}

.testimonial {
  font-size: 40px;
  justify-content: space-between;
  font-style: italic;
}

.carousel {
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
  width: 200%;
  height: auto; /* Allow height to adjust */
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  margin-top: 5px;
  padding-top: 5px;
  background-color: transparent;
}

#carousel-info {
  font-size: 15px;
  padding-block: 10px;
  border-block: 1px solid;
  display: flex;
  overflow: hidden;
  gap: 2rem;
  margin-top: 2px;
  padding-top: 2px;
  background-color: transparent;
}

.carousel .card-content {
  background-color: transparent;
}

.card {
  background-color: transparent;
}

.carousel-item {
  width: 1000px;
  height: auto; /* Allow height to adjust */
  text-align: center;
  object-fit: cover;
  animation: scroll 8s linear infinite; 
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 20px));
  } 
}

#carousel-info {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: auto; /* Allow height to adjust */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --postition: 1;
  pointer-events: none;
  margin: 2px;
  background-color: transparent;
}

@media (max-width: 900px) {
  .carousel-info {
    flex: 50%;
    max-width: 50%;
  }

  .testimonial {
    flex: 100%;
    height: auto;
  }
}

/*  ----                                   [Start of footer section]                                        ---- */

#footer_section {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Position - column 1 */
#column_1 {
  position: relative;
  right: 50%;
  bottom: 10%;
  text-align: left;
}

/* Styling for footer logo */
#footer_logo {
  color: white;
  text-shadow: 1px 2px 10px grey;
  font-size: 40px;
  font-weight: bold;
  width: 390px;
}

#footer_logo:hover {
  color: orange;
}

#footer_section > .columns {
  position: relative;
  bottom: 80px;
  left: 11%;
}

#footer_logo_subtext {
  margin-left: 12px;
  color: white;
}

.contact_logo {
  font-size: 20px;
  margin-left: 12px;
  margin-top: 20px;
}

.contact_logo > a:link {
  color: white;
}

.contact_logo > a:hover {
  color: orange;
}

.column2_header, .column3_header, .column4_header {
  font-size: 23px;
  color: #fff;
  font-weight: bold;
}

#column2_list {
  text-align: left;
  margin-left: 39px;
}

#column3_list {
  text-align: left;
  margin-left: 19px;
}

#column4_list {
  text-align: left;
  margin-left: 33px;
}

.list-item {
  color: white;
}

.list-item:hover {
  color: orange;
}

hr {
  background-color: white;
  position: absolute;
  right: 1%;
  top: 250px;
  width: 150%;
}

.copyright-info {
  position: absolute;
  top: 300px;
  right: 1110px;
  color: #fff;
  width: 40%;
}

/*                                           End of footer section                                   */
